<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
         <objectContribution adaptable="true"
            id="com.keebraa.java.monkeycoder.plugin"
            objectClass="org.eclipse.core.resources.IProject">

         	<action
               class="pp.keebraa.java.monkeycoder.plugin.action.HelloWorldAction"
               id="com.keebraa.java.monkeycoder.plugin.helloWorldAction"               
               label="monkeyCoder"      
               enablesFor="1"
               menubarPath="team.main/group3" >
         	</action>
      </objectContribution>
   </extension>
</plugin>
